<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300&display=swap"
    rel="stylesheet"
  />
  <title>Verification code</title>
</head>
<body style="color: black;font-weight: normal;font-size: 0.9rem;font-family: 'Roboto', sans-serif;margin: 1rem;">
<div style="width: min(90%, 40rem);margin: 0 auto;">
  <header
    style="width: 100%;height: 8rem;background-image: url(https://s8154576.sendpul.se/image/747991a0e145ac2bbe69f063a9402e69/files/emailservice/userfiles/d9b898da7a8b850db7128b250c82119f8154576/CUPO-logo/cupo-logo.png);background-repeat: no-repeat;background-size: contain;background-position: center;"></header>
  <main style="margin: clamp(0.5rem, 2vw, 2rem) 0 clamp(1rem, 7vw, 5rem) 0;">
    <h1 style="font-size: 1.5rem;margin-bottom: 1rem;">Email Verification Code</h1>
    <p style="margin-bottom: 1rem;">Your verification code:</p>
    <p style='font-size: 1.3rem;font-weight: bold;color: rgb(100 100 245);margin-bottom: 1rem;'>{{code}}</p>
    <p style="margin-bottom: 1rem;">
      The verification code will be valid for 30 minutes. Please do not
      share this code with anyone. Don’t recognize this activity? Please
      <a href="https://app.cupocoin.com/forgot_password">reset your password</a> and
      <a href="mailto:support@cupocoin.com">customer support</a> contact immediately.
    </p>
    <p style="font-style: italic;">
      This is an automated message, please do not reply.
    </p>
  </main>
  <footer style="display: flex;justify-content: center;">
    <span>© 2022 Cupocoin.com, All Rights Reserved.</span>
  </footer>
</div>
</body>
</html>
